.retainer-services-container{max-width: 1200px;margin: 0 auto;padding: 0 20px;}
.text-bold{font-weight: bold;}
.margin-0{margin:0;}
.heading-h1-margin{margin: 40px 0 10px 0;}
.ul-margin{margin: 10px 0 0 0 ;}
.ul-padding{padding: 0;}
.step-margin{margin:20px 0}
.p-text-margin{margin: 10px 0}
.ul-number{list-style-type: auto;padding-left: 30px;}
.section-margin{margin: 40px 0;}
.bg-primary{background-color: #0b57e3 !important;color: #ffffff;}
.color-green{color: #018c0b;}
.heading-big{font-size: 50px;font-weight: 100;}
.text-center{text-align: center;}
.services_inner .services_txt img{max-width:100%;}

.check-icon-ul{list-style: none;}
.check-icon-ul{padding: 0;margin: 0 0 20px 0;}
.check-icon{position: relative;padding-left: 35px;}
.check-icon::before{content:'\2714'; position: absolute; top:4px; left: 0; background-color: #193e99;color:#ffffff; border-radius: 50%; margin-right: 20px;margin-bottom: 2px;height: 20px;width: 20px;text-align: center;font-size: 12px;}
.title-h2{color: #193E99;}
.position-inside{list-style-position: inside;padding: 0;}
.before-line{padding-left: 75px;position: relative;}
.before-line::before{ content: "";display: block;width: 50px;height: 3px;background: #1348b7;left: 0;top: 50%;position: absolute;}
.heading-size{font-size:36px}

.investment-box:hover .item-icon-inner{transform: translate(-50%,-50%) rotateY(360deg);}
.investment-box{background-color: #193e99;border-radius: 60px;display: flex;    flex-wrap: nowrap; padding: 17px 40px 17px 17px;margin:20px 0;background-image: url("img/fanybox-shape1.png"); background-repeat: no-repeat; background-position: top right;    overflow: hidden;}
.investment-box-d-none .item-icon-inner::before{display: none;}

.item-icon{width: 80px; height: 80px; min-width: 80px; background-color: #fff; position: relative; border-radius: 50%; margin-right: 22px;}
.item-icon-inner{font-size: 45px; color: #0b57e3;position: absolute; transition: 0.6s cubic-bezier(.24,.74,.58,1);display: inline-block;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.item-icon-inner::before{ content:"\0024";font-weight: 900;}
.item-icon-inner-svg{height: 34px;fill: #0b57e3;width: 34px;line-height:34px;}
.item-holder{color: #ffffff;line-height: 24px;align-self: center;}
.item-holder .item-title{color: #ffffff;}
.item-link-a{color: #ffffff !important;}
.item-link-a:hover{font-weight: 700;}

.counter{display: flex; flex-direction: row; flex-wrap: wrap;}
.counter-box{width: 50%;flex-direction: row;flex-wrap: wrap;padding: 10px;}
.counter-box-inner::before{content: ''; position: absolute; top: 20px; left: -42px; height: auto; width: auto; border-style: solid; border-color: transparent #163787 #163787 transparent; border-width: 21px;z-index: -1;}
.counter-box-inner{box-shadow: 0 15px 84px rgb(0 0 0 / 18%); margin-bottom: 0; display: flex;  flex-wrap: wrap; align-items: center;  max-width: 510px;   position: relative;border-radius: 12px;    margin-left: 42px;   padding: 17px 17px 3px 17px; background-color: #fff;}
.counter-number{display: inline-block;background-color: #193e99;   color: #fff;   font-size: 36px;  line-height: 1;font-weight: 600;    padding: 24px 20px;   border-radius: 12px;  min-width: 150px;   text-align: center;    margin-right: 22px; background-image: url("img/dot-light.png");  background-position: left center;    background-repeat: no-repeat; background-size: cover;margin-bottom: 14px;}
.counter-number-bottom{margin-bottom: 10px;}
.counter-heading{font-size: 18px;margin: 0;font-weight: 300;}
.counter-number-suffix{position: relative;display: inline-block;top: -15px;font-size: 30px;left: -7;}
.counter-number-heading{font-size: 36px;}
.counter-box-inner:hover{transform: translateY(-6px);}

.table-validation { font-size: 16px;text-align: left;width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent; border-collapse: collapse;border-spacing: 0; line-height: inherit;margin: 0 0 32px;color: white;}
.table-bordered{border: 1px solid #e9ecef;}
.table-validation-outer{padding: 20px 20px 20px 20px;background-color: #4054B2;color: #ffffff;}
.table-validation>tbody>tr>td, .table-validation>tbody>tr>th, .table-validation>tfoot>tr>td, .table-validation>tfoot>tr>th, .table-validation>thead>tr>td, .table-validation>thead>tr>th{padding: 13px 8px;}
.table-bordered td, .table-bordered th {border: 1px solid #e9ecef;}
.table-validation td, .table-validation th {vertical-align: top;}
.table-ul-padding{padding: 0 0 0 20px;}
.table-th-first-width{width: 25%!important;}
.table-th-secound-width{width: 50%!important;}
.table-th-third-width{width: 25%!important;}


.icon-box-icon-svg{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: left;}
.icon-box-inner-icon{fill:#0b57e3;stroke:#0b57e3;display: inline-block;width: 50px;}
.icon-box-icon-svg .up-arrow{transform: rotate(180deg);}
.icon-box{text-align: center;padding: 10px; margin:10px; border-style: solid;border-width: 1px 1px 1px 1px; border-color: #C1C1C1; border-radius: 8px 8px 8px 8px;width: calc(33.33% - 20px);}
.icon-box-inner-heading{color: #018c0b;margin:15px 0 0 0}
.icon-box-inner-description{margin: 15px 0 0 0;}
.icon-box-inner-description a{color: #000000;}
.icon-box:hover{background-color: #EEEEEE; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);}
.icon-box-inner-icon-number{font-weight: 700;border: 7px solid #193f97;color:#193f97; padding: 1px 12px;font-size: 29px;border-radius: 10px;}
.icon-box-number{margin: 20px 10px 10px 10px;}

.box{display: flex;flex-direction: row;flex-wrap: wrap;margin: 30px 0;}
.box-inner-left-width{width: calc(40% - 20px);}
.box-inner-right-width{width: calc(60% - 20px);}
.box-inner-left-width, .box-inner-right-width{margin: 10px;padding: 35px; }

.services-icon-box-icon-svg{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-evenly;margin: 15px 0 10px 0 }
.services-icon-box-inner-heading {color: black;font-weight: 700;font-size: 23px;line-height: 27px;margin-top: 15px;}
.services-icon-box-inner{box-shadow: 0 1px 18px rgb(0 0 0 / 11%);background-color: #fff;padding: 44px 20px;text-align: center;transition: all 300ms linear 0ms;height:100%}
.services-icon-box{text-align: center;width: calc(33.33% - 20px);background-color: #0B57E3;    margin: 15px 10px;}
.services-icon-box-inner:hover{ transform: translateY(-10px);}


.table-services{width: 100%;margin: 20px 0 45px 0;font-size: 20px;border-collapse: collapse;border-spacing: 0;line-height: 32px;}
.table-services th{border: 1px solid #ededed;font-weight: bold; padding: 7px;font-size: 24px; text-align: center;}
.table-services th:first-child{background-color: #193e99;color: white;}
.table-services td{border: 1px solid #ededed;padding: 11px;   color: #000000;}
.table-services tr:nth-child(even) {background-color: #f6f6f6;}
.table-services-icon-check{position: relative;}
.table-services-icon-check::after{content: '';height: 16px;position: absolute;border: 3px solid green;border-left: 0;border-top: 0;width: 7px;top: 50%;left: 50%;transform: translate(-50%,-50%) rotate(45deg);}
.table-services-icon-des{position:relative;}
.table-services-icon-des::after{content: '';position: absolute;border: 3px solid green;border-left: 0;border-top: 0;width: 10px;top: 50%;left: 50%;transform: translate(-50%,-50%);}

.figure-outer{display: flex;align-items: center;}
.figure-outer figure{width: 50%;margin: 10px;}

.services_inner{padding:50px 0px;}
/* .services_inner a{word-break:break-all;} */
.services_inner_content{display:flex; flex-wrap:wrap;}
.services_inner_content .services_txt{width:70%; padding-right:30px;}
.services_inner_content .services_txt a{word-break:break-word;}
.services_inner_content .services_sidebar{width:30%; padding-left:15px;}

.services_search, .services_menu, .services_contact{padding-bottom:30px;}
.services_menu ul{list-style: none; margin: 0; padding:0px;}
.services_menu ul li a{color: #222; display: block; font-size: 15px; font-weight: 500; line-height: 24px; padding: 13px 12px 13px 16px; position: relative; position: relative;
  z-index: 1; border-bottom: 1px solid #ececf0; transition: all 300ms linear 0ms; background:#f5f8fb;}
.services_menu ul li a:hover{padding-left: 23px;}

.pdf_download .file-download-anchor {border: 1px solid gainsboro;display: inline-block;width:100%; padding: 8px 30px 8px 8px;line-height: 30px; font-size: 14px;}
.pdf_download .file-download-icon {float: left;margin-right: 10px;width: 30px;}

.widget-content{padding-bottom:15px;}
.widget-content p{margin:0 0 10px; font-size:14px;}
.widget-content p a{font-size:14px;}
.widget-content .textwidget p span{font-size:20px; margin-right:10px; vertical-align: middle;}
.services_contact .contact_form{padding: 20px; background-color: #f5f8fb; border-radius: 20px;}
.services_contact .contact_form .field{margin-bottom:15px;}
.services_contact .contact_form button{width:100%;}


/* RESPONSIVE */
@media only screen and (max-width: 991px){
  .counter-number{min-width: 120px;}
  .counter-number-heading{font-size:33px ;}
  .counter-number-suffix{font-size: 25px;}
  .counter-heading{font-size: 21px;}

  .icon-box{width: calc(50% - 20px);}
  .icon-box-inner-icon{width: 45px;}

  .services-icon-box{width: 100%;}
  .heading-big {font-size: 40px;}
  .table-services{font-size: 17px;}
  .table-services th{font-size: 22px;}

  .services_inner_content .services_txt{width:100%; padding-right:0px;}
  .services_inner_content .services_sidebar{width:100%; padding-left:0px;}
}


@media only screen and (max-width: 768px){
  .counter{flex-direction: column;}
  .counter-box{width: 100%;}
  .investment-box{flex-direction: column;padding: 17px;}
  .item-icon{align-self: center;margin: 0;}
  .item-holder{text-align: center;margin-top: 10px;}

  .table-validation{font-size: 18px;}

  .box{flex-direction: column;}
  .box-inner-left-width, .box-inner-right-width{width: 100%;}

  .figure-outer{flex-direction: column;}
  .figure-outer figure{width: 100%;}


}


@media only screen and (max-width: 575px){
  .services_inner h1{font-size:20px;}
  .before-line::before{width: 35px;}
  .before-line{padding-left: 50px;}
  .counter-number-heading {font-size: 29px;}
  .counter-heading {font-size: 18px;}   
  .counter-number-suffix {font-size: 23px;} 
  .item-icon {width: 60px;height: 60px;min-width: 60px;}
  .item-icon-inner{font-size: 37px;}

  .table-validation {font-size: 14px;}
  .table-validation-outer {padding: 10px 10px 10px 10px;}

  .icon-box{width:100%;margin: 10px 0;}
  .icon-box-inner-icon{width: 40px;}

  .heading-big {font-size: 35px;}
  .services-icon-box-inner-heading {font-size: 20px;}
  .table-services {font-size: 13px; line-height: 25px;}
  .table-services td {padding: 8px;}
  .table-services th{font-size: 17px;}
  .item-icon-inner-svg{height: 32px;width: 32px;}


}